<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEightBall" />
            </basicHttpBinding>
          <netTcpBinding>
            <binding name="NetTcpBinding_IEightBall" />
          </netTcpBinding>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IEightBall">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MagicEightBallService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEightBall"
                contract="ServiceReference1.IEightBall" name="BasicHttpBinding_IEightBall" />
            <endpoint address="http://localhost:8733/MagicEightBallService/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IEightBall"
                contract="ServiceReference1.IEightBall" name="MetadataExchangeHttpBinding_IEightBall" />
        </client>
    </system.serviceModel>
</configuration>